<div class="app-content-container">
  <div class="row">
    <div class="col-12">
      <div class="header" [style.padding-left]="'46px'">
        <!--i class="fa fa-filter open-filter-form" (click)="openFiltersForm()" style="font-size: 36px;"></i>
        <i class="fa fa-exclamation open-filter-form" *ngIf="accountingFilterService.activeFilter" style="color: red; font-size: 18px;"></i-->

        {{title}}
        
        <i class="fa fa-plus-circle open-undefined-form"(click)="openInputForm('Undefined')" style="font-size: 36px;"></i>
        <!--i class="fa fa-minus-circle open-expense-form"(click)="openInputForm('Gasto')" style="font-size: 36px;"></i-->
      </div>
    </div>
  </div>
</div>
<br>

<app-inventory-item-table *ngIf="this.selectedPage === 'inventory'" [itemListUncut]="itemListUncut"
[elementTypeListUncut]="elementTypeListUncut" [locationListUncut]="locationListUncut"></app-inventory-item-table>