<div class="row map-container" style="margin-top: 0px; text-align: center; "> 
    <div id="world-map" class="col-md-12 col-sm-12 col-xs-12 map" style="height: 50vh; position: relative; overflow: hidden;"></div>
</div>