<div class="app-content-container">
    <div class="row">
      <div class="col-auto center">
        <div class="loading">
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
          
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
          
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact nowrap dataTable no-footer dtr-inline collapsed table">
          <thead>
            <tr>
              <th style="width: 70%"> Localización </th>
              <th style="width: 30%"> Edición </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let location of inventoryLocationList">
              <td> {{ location.location }} </td>
              <td>
                <a class= "table-btn" (click)="editLocation(location)"><i class="fa fa-edit"></i></a>
                <a class= "table-btn" (click)="deleteLocation(location.$key)"><i class="fa fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  