<div class="app-content-container">
  <div class="row cutTable" *ngIf="cutTable">
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
    Mostrados los ultimos 100 registros. La busqueda contiene {{ tableLenght }} registros
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
  </div>
  <div class="row">
    <div class="col-auto center table-responsive">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display cell-border compact nowrap table">
        <thead>
          <tr>
            <th style="width: 12.5%"> Fecha </th>
            <th style="width: 12.5%"> Categoria </th>
            <th style="width: 12.5%"> Concepto</th>
            <th style="width: 10%"> Importe</th>
            <th style="width: 40%"> Observaciones</th>
            <th style="width: 12.5%; min-width: 70px;"> Edición </th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let activity of activityListTable" [ngClass]="activity.type">
            <td style= "margin-right: 25px!important;"> {{ activity.date | date:'dd/MM/yyyy' }} </td>
            <td> {{ activity.category }} </td>
            <td> {{ activity.concept }} </td>
            <td> {{ activity.value | currency:'EUR':symbol:'1.2-2':'es'}} </td>
            <td > {{ activity.remark }} </td>
            <td style="min-width: 70px;">
              <a class= "table-btn" (click)="copyActivity(activity)"><i class="fa fa-copy"></i></a>
              <a class= "table-btn" (click)="editActivity(activity)"><i class="fa fa-edit"></i></a>
              <a class= "table-btn" (click)="deleteActivity(activity.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
