<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #inventaryForm="ngForm" (ngSubmit)="onSubmit(inventaryForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="itemsConsultsService.selectedItem.$key">
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Localización</mat-label>
            <mat-select class="form-control" name="location" #location="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.location" placeholder="Localización" autocomplete="off" required>
              <mat-option></mat-option>
              <mat-option *ngFor= "let location of inventoryLocationList" [value]="location.$key">{{ location.location }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Tipo de elemento</mat-label>
            <mat-select class="form-control" name="itemType" #itemType="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.itemType" placeholder="Tipo de elemento" required>
              <mat-option></mat-option>
              <mat-option *ngFor= "let element of inventoryElementTypeList" [value]="element.$key">{{ element.elementType }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="item" #item="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.item" placeholder="Elemento" autocomplete="off" required>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="acquisitionPlace" #acquisitionPlace="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.acquisitionPlace" placeholder="Lugar de adquisición" autocomplete="off">
          </mat-form-field>
        </div>      
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="model" #model="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.model" placeholder="Modelo" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="identifier" #identifier="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.identifier" placeholder="Identificativo" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="acquisitionValue" #acquisitionValue="ngModel" type="number" step="0.01"
            [(ngModel)]="itemsConsultsService.selectedItem.acquisitionValue" placeholder="Valor de adquisición" autocomplete="off" required>
            <mat-datepicker-toggle matSuffix >
              <mat-icon matDatepickerToggleIcon>euro_symbol</mat-icon>
            </mat-datepicker-toggle>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="acquisitionDate" #acquisitionDate="ngModel" [matDatepicker]="acquisitionDate"
            [(ngModel)]="itemsConsultsService.selectedItem.acquisitionDate" placeholder="Fecha de adquisición" autocomplete="off" required>
            <mat-datepicker-toggle matSuffix [for]="acquisitionDate"></mat-datepicker-toggle>
            <mat-datepicker #acquisitionDate [dateClass]="dateClass()"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="lossValue" #lossValue="ngModel" type="number" step="0.01"
            [(ngModel)]="itemsConsultsService.selectedItem.lossValue" placeholder="Valor de desecho" autocomplete="off">
            <mat-datepicker-toggle matSuffix >
              <mat-icon matDatepickerToggleIcon>euro_symbol</mat-icon>
            </mat-datepicker-toggle>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="lossDate" #lossDate="ngModel" [matDatepicker]="lossDate"
            [(ngModel)]="itemsConsultsService.selectedItem.lossDate" placeholder="Fecha de desecho" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="lossDate"></mat-datepicker-toggle>
            <mat-datepicker #lossDate [dateClass]="dateClass()"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select class="form-control" name="state" #state="ngModel" 
            [(ngModel)]="itemsConsultsService.selectedItem.state" placeholder="Estado" autocomplete="off" required>
              <mat-option></mat-option>
              <mat-option value="Bueno">Bueno</mat-option>
              <mat-option value="Problemas">Problemas</mat-option>
              <mat-option value="Cambiar">Cambiar</mat-option>
              <mat-option value="Roto">Roto</mat-option>
              <mat-option value="Vendido">Vendido</mat-option>
              <mat-option value="Perdido">Perdido</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="remark" #remark="ngModel"
            [(ngModel)]="itemsConsultsService.selectedItem.remark" placeholder="Observación" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <button mat-stroked-button color="warn" type="button" (click)="resetForm(inventaryForm)">Limpiar</button>
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!inventaryForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>