<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #inventaryForm="ngForm" (ngSubmit)="onSubmit(inventaryForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="tripsConsultsService.selectedTrip.$key">
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Continente</mat-label>
            <mat-select class="form-control" name="continent" #continent="ngModel" 
            [(ngModel)]="tripsConsultsService.selectedTrip.continent" placeholder="Continente" autocomplete="off" required>
              <mat-option></mat-option>
              <mat-option value="Europa">Europa</mat-option>
              <mat-option value="América del Norte">América del Norte</mat-option>
              <mat-option value="América del Sur">América del Sur</mat-option>
              <mat-option value="África">África</mat-option>
              <mat-option value="Asia">Asia</mat-option>
              <mat-option value="Oceanía">Oceanía</mat-option>
              <mat-option value="Antartida">Antartida</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>País</mat-label>
            <mat-select class="form-control" name="country" #country="ngModel" 
            [(ngModel)]="tripsConsultsService.selectedTrip.country" placeholder="País">
              <mat-option></mat-option>
              <mat-option *ngFor= "let country of countriesList" [value]="country.code">{{ country.country }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="place" #place="ngModel" 
            [(ngModel)]="tripsConsultsService.selectedTrip.place" placeholder="Lugar" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="date" #date="ngModel" [matDatepicker]="date"
            [(ngModel)]="tripsConsultsService.selectedTrip.date" placeholder="Fecha" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date [dateClass]="dateClass()"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="latitude" #latitude="ngModel" type="number" step="0.0000001"
            [(ngModel)]="tripsConsultsService.selectedTrip.latitude" placeholder="Latitud" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="longitude" #longitude="ngModel" type="number" step="0.0000001"
            [(ngModel)]="tripsConsultsService.selectedTrip.longitude" placeholder="Longitud" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-12">
          <mat-form-field>
            <input matInput class="form-control" name="remark" #remark="ngModel"
            [(ngModel)]="tripsConsultsService.selectedTrip.remark" placeholder="Observación" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <button mat-stroked-button color="warn" type="button" (click)="resetForm(inventaryForm)">Limpiar</button>
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!inventaryForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>