<div class="app-content-container">
  <div class="row">
    <div class="col-auto center">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact nowrap dataTable no-footer dtr-inline collapsed table">
        <thead>
          <tr>
            <th> Marca </th>
            <th> Modelo </th>
            <th> Matricula </th>
            <th> Edición </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let vehicle of vehiclesList">
            <td> {{ vehicle.brand }} </td>
            <td> {{ vehicle.model }} </td>
            <td> {{ vehicle.plate }} </td>
            <td>
              <a class= "table-btn" (click)="editVehicle(vehicle)"><i class="fa fa-edit"></i></a>
              <a class= "table-btn" (click)="deleteVehicle(vehicle.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
