.app-toolbar {
    background: #f8f8f8;
    //background: skyblue;
    //color: #fff;
    color: white;
    top: 0;
    position: fixed;
    z-index:999;
    mat-toolbar-row{
        border-bottom: 1px solid #e7e7e7;
        box-shadow:0 0.15rem 1.5rem rgba(64, 64, 64, 0.16);
    }
}
.app-sidenav{
    margin-top: 64px;
    position: fixed;
}
.app-sidenav-content{
    position: inherit;
    min-height: -webkit-fill-available;
}
.app-sidenav-container{
    margin-top: 64px;
}

.notification-container{
    padding: 0 0px;
}

.spacer {
    flex: 1 1 auto;
}

.title{
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.hamburger, .user{
    background: transparent;
    color: black;
    height: 64px;
    width: 64px;
    padding: 0 0px;
    border: unset;
    -webkit-appearance: button-bevel;
    cursor: pointer;
}

a:link { 
text-decoration:none; 
} 

.app-sidenav-expansion-panel{
    box-shadow: none;
}

.sidenav-icon{
    font-size: 20px;
}

.app-nav-list{
    padding: 0 0px;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    border-radius: inherit;
}

.app-content-container{
    margin-left: 10px;
    margin-right: 10px;
}
.mat-sidenav{
    max-width: 300px!important;
}
.mat-expansion-panel-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.mat-list-base .mat-list-item , .mat-expansion-panel-header{
    font-size: 14px;
}
.sidenav-icon[_ngcontent-c1] {
    font-size: 18px!important;
    padding-top: 1px;
}

@media (max-width: 599px){
    .mat-toolbar-row, .mat-toolbar-single-row, .mat-toolbar-multiple-rows {
        height: 64px;
    }
}
