<div class="app-container" [class.app-is-mobile]="mobileQuery.matches"> 
  <mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row class="notification-container" [style.padding-left]="!mobileQuery.matches && isAuthenticated && this.userService.isRegistered ? '284px' : '0px'">
      <mat-button-toggle mat-button class="hamburger" (click)="sidenav.toggle()" title="Pages menu" [class.hidden]="!mobileQuery.matches" *ngIf="this.isAuthenticated && this.userService.isRegistered">
          <i class="fas fa-bars fa-lg"></i>
      </mat-button-toggle>

      <span class="spacer"></span>

      <a routerLink="">
        <span class="title"> {{ this.title }} </span>
      </a>
      <!--img src="assets/images/logos/logo_completo_blanco.png" width="150" height="40" title="Home" alt="Home"-->
      
      <span class="spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user" title="Users administration" *ngIf="this.isAuthenticated && this.userService.isRegistered">
        <i class="fas fa-user-cog fa-2x"></i>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout(); ">
          <i class="fas fa-sign-out-alt fa-lg"></i>
          <span>Cerrar sesión</span>
        </button>
        <!--button mat-menu-item [matMenuTriggerFor]="showFunctions">
          <i class="fas fa-low-vision fa-lg"></i>
          <span>Mostrar</span>
        </button-->
      </mat-menu>

      <mat-menu #showFunctions="matMenu">
        <button mat-menu-item (click)="$event.stopPropagation(); showAccounting=!showAccounting">
          <i [ngClass]="showAccounting ? 'fas fa-eye fa-lg' : 'fas fa-eye-slash fa-lg'"></i>
          <span>Contabilidad</span>
        </button>
        <button mat-menu-item (click)="$event.stopPropagation(); showInventory=!showInventory">
            <i [ngClass]="showInventory ? 'fas fa-eye fa-lg' : 'fas fa-eye-slash fa-lg'"></i>
          <span>Inventario</span>
        </button>
        <button mat-menu-item (click)="$event.stopPropagation(); showTrips=!showTrips">
            <i [ngClass]="showTrips ? 'fas fa-eye fa-lg' : 'fas fa-eye-slash fa-lg'"></i>
          <span>Viajes</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches && isAuthenticated && this.userService.isRegistered">
      <mat-expansion-panel class="app-sidenav-expansion-panel" *ngIf="showAccounting">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-wallet"></i>
            Contabilidad
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="app-nav-list">
          <a mat-list-item [routerLink] = "nav.pageLink" *ngFor="let nav of accountingNav">
            <i [ngClass]="nav.icon"></i>
            {{ nav.pageName }}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!--mat-expansion-panel class="app-sidenav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-car"></i>
            Vehículo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="app-nav-list">
          <a mat-list-item [routerLink] = "nav.pageLink" *ngFor="let nav of vehicleNav">
            <i [ngClass]="nav.icon"></i>
            {{ nav.pageName }}
          </a>
        </mat-nav-list>
      </mat-expansion-panel-->
      <mat-nav-list class="app-nav-list"  *ngIf="showInventory">
        <a mat-list-item class="app-sidenab-button" routerLink="inventory">
          <i class="fas fa-boxes"></i>
          Inventario
        </a>
      </mat-nav-list>
      <mat-nav-list class="app-nav-list"  *ngIf="showTrips">
        <a mat-list-item class="app-sidenab-button" routerLink="trips">
          <i class="fas fa-plane-departure"></i>
          Viajes
        </a>
      </mat-nav-list>
      <mat-expansion-panel class="app-sidenav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-th-list"></i>
            Desplegables
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="app-nav-list">
          <mat-expansion-panel class="app-sidenav-expansion-panel" *ngIf="showAccounting">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fas fa-wallet"></i>
                Contabilidad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="app-nav-list">
              <a mat-list-item [routerLink] = "nav.pageLink" *ngFor="let nav of accountingDropdownNav">
                <i [ngClass]="nav.icon"></i>
                {{ nav.pageName }}
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel class="app-sidenav-expansion-panel"  *ngIf="showInventory">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fas fa-boxes"></i>
                Inventario
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="app-nav-list">
              <a mat-list-item [routerLink] = "nav.pageLink" *ngFor="let nav of inventoryDropdownNav">
                <i [ngClass]="nav.icon"></i>
                {{ nav.pageName }}
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-sidenav>
    
    <mat-sidenav-content class="app-sidenav-content">
      <router-outlet *ngIf="loadedSideNav"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>