<div class="app-content-container">
    <div class="row">
      <div class="col-12">
        <div class="header" [style.padding-left]="'46px'">
          {{title}}

          <i class="fa fa-plus-circle open-undefined-form"(click)="openInputForm('Undefined')" style="font-size: 36px;"></i>
        </div>
      </div>
    </div>
  </div>
  <br>

<app-trips-map *ngIf="this.selectedPage === 'trips'" [tripsListUncut]="tripsListUncut"></app-trips-map>
<br>
<app-trips-table *ngIf="this.selectedPage === 'trips'" [tripsListUncut]="tripsListUncut"
[countriesListUncut]="countriesListUncut"></app-trips-table>

