<div class="app-content-container">
  <div class="row">
    <div class="col-12">
      <div class="header" [style.padding-left]="!(this.selectedPage ==='accountingCategories' || this.selectedPage ==='accountingConcepts') ? '46px' : '82px'">

        {{title}}
        <i *ngIf="!(this.selectedPage ==='accountingCategories' || this.selectedPage ==='accountingConcepts')" 
        class="fa fa-plus-circle open-undefined-form" (click)="openInputForm('Undefined')" style="font-size: 36px;"></i>
        <i *ngIf="(this.selectedPage ==='accountingCategories' || this.selectedPage ==='accountingConcepts')"
        class="fa fa-plus-circle open-income-form" (click)="openInputForm('Ingreso')" style="font-size: 36px;"></i>
        <i *ngIf="(this.selectedPage ==='accountingCategories' || this.selectedPage ==='accountingConcepts')"
        class="fa fa-minus-circle open-expense-form" (click)="openInputForm('Gasto')" style="font-size: 36px;"></i>
      </div>
    </div>
  </div>
</div>
<br>
<app-accounting-category-table *ngIf="this.selectedPage ==='accountingCategories'"></app-accounting-category-table>
<app-accounting-concept-table *ngIf="this.selectedPage ==='accountingConcepts'"></app-accounting-concept-table>
<app-house-table *ngIf="this.selectedPage ==='houses'"></app-house-table>
<app-vehicle-table *ngIf="this.selectedPage ==='vehicles'"></app-vehicle-table>
<app-inventory-element-type-table *ngIf="this.selectedPage ==='inventoryType'"></app-inventory-element-type-table>
<app-inventory-location-table *ngIf="this.selectedPage ==='inventoryLocation'"></app-inventory-location-table>
