<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #accountingFilterForm="ngForm" (ngSubmit)="onSubmit(accountingFilterForm)">
      <div class = "row">
        <div class="form-group col-sm-12">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select class="form-control" name="type" #category="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.type" placeholder="Tipo" multiple>
              <mat-option value="Ingreso">Ingreso</mat-option>
              <mat-option value="Gasto">Gasto</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select class="form-control" name="category" #category="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.category" placeholder="Categoría" multiple>
              <mat-option *ngFor= "let category of categoriesList" [value]="category.$key">{{ category.category }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Concepto</mat-label>
            <mat-select class="form-control" name="concept" #concept="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.concept" placeholder="Concepto" multiple [disabled]="selectedPage != 'accountingTable'">
              <mat-option *ngFor= "let concept of conceptsList" [value]="concept.$key">{{ concept.concept }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Año</mat-label>
            <mat-select class="form-control" name="year" #year="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.year" placeholder="Año" [multiple]= "selectedPage != 'accountingMonthlySummary'">
              <mat-option *ngFor= "let year of yearsList" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Mes</mat-label>
            <mat-select class="form-control" name="month" #month="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.month" placeholder="Mes" 
            [disabled]="selectedPage != 'accountingTable' && selectedPage != 'accountingGraphs'" multiple>
              <mat-option *ngFor= "let month of monthsList" [value]="month.number">{{ month.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Vivienda</mat-label>
            <mat-select class="form-control" name="house" #year="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.house" placeholder="house" multiple>
              <mat-option *ngFor= "let house of housesList" [value]="house.$key">{{ house.street }} {{ house.number }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <mat-label>Vehículo</mat-label>
            <mat-select class="form-control" name="vehicle" #month="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.vehicle" placeholder="vehicle" multiple>
              <mat-option *ngFor= "let vehicle of vehiclesList" [value]="vehicle.$key">{{ vehicle.brand }} {{ vehicle.model }} "{{ vehicle.plate }}"</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class = "row">
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="startDate" #startDate="ngModel" [matDatepicker]="startDate"
            [(ngModel)]="filterService.selectedFilter.startDate" placeholder="Fecha inicio" autocomplete="off" 
            [disabled]="selectedPage != 'accountingTable' && selectedPage != 'accountingGraphs'">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate [dateClass]="dateClass()"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-6">
          <mat-form-field>
            <input matInput class="form-control" name="endDate" #endDate="ngModel" [matDatepicker]="endDate"
            [(ngModel)]="filterService.selectedFilter.endDate" placeholder="Fecha final" autocomplete="off" 
            [disabled]="selectedPage != 'accountingTable' && selectedPage != 'accountingGraphs'">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate [dateClass]="dateClass()"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class = "row">    
        <div class="form-group col-sm-12" style="text-align:center;">
          <button mat-stroked-button color="warn" type="button" (click)="resetForm(accountingFilterForm)" style="float: left;">Limpiar</button>
          <button mat-stroked-button color="warn" type="button" (click)="getSavedFilter()" *ngIf= "!smallWindow" >Filtro anterior</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="!accountingFilterForm.valid" style="float: right;">Aplicar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>