<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #vehicleForm="ngForm" (ngSubmit)="onSubmit(vehicleForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="vehicleConsultsService.selectedVehicle.$key">
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="brand" #brand="ngModel" autocomplete="off"
            [(ngModel)]="vehicleConsultsService.selectedVehicle.brand" placeholder="Marca" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="model" #model="ngModel" autocomplete="off"
            [(ngModel)]="vehicleConsultsService.selectedVehicle.model" placeholder="Modelo" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="plate" #plate="ngModel" autocomplete="off"
            [(ngModel)]="vehicleConsultsService.selectedVehicle.plate" placeholder="Matrícula" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(vehicleForm)">Limpiar</button-->
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!vehicleForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>