<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Precio Km</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{averageCostPerKm | number:'1.3-3':'es'}} €/km</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-euro-sign fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-orange shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Cosumo</div>
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{averageLitresPer100Km | number:'1.2-2':'es'}} l/100km</div>
            </div>
            <div class="col">
              <div class="progress-custom progress-sm-custom mr-2">
                <div class="progress-bar-custom bg-orange" role="progressbar" [style.width.%]="percentLitresPer100Km" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <i class="fab fa-hotjar fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Coste del litro</div>
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{averagleCostPerLitre | number:'1.3-3':'es'}} €/l</div>
            </div>
            <div class="col">
              <div class="progress-custom progress-sm-custom mr-2">
                <div class="progress-bar-custom bg-red" role="progressbar" [style.width.%]="percentGasCostPerKm" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <i class="fa fa-fill fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Coste total</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalCost | number:'1.2-2':'es'}} €</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-car fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-blue shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-blue text-uppercase mb-1">Kilometros recorridos</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalKilometers | number:'1.0-0':'es'}} km</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-tachometer-alt fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-orange shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Litros repostados</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalGasLitres | number:'1.2-2':'es'}} l</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-gas-pump fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Coste financiacion</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalFinanceCost | number:'1.2-2':'es'}} €</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-key fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Coste manenimiento</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalMaintenanceCost | number:'1.2-2':'es'}} €</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-tools fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-left-red shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-red text-uppercase mb-1">Coste combustible</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalGasCost | number:'1.2-2':'es'}} €</div>
        </div>
        <div class="col-auto">
          <i class="fa fa-fill-drip fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>