<div class="app-content-container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <i class="fa fa-filter open-filter-form" (click)="openFiltersForm()" style="font-size: 36px;"></i>
        <i class="fa fa-exclamation open-filter-form" *ngIf="accountingFilterService.activeFilter" style="color: red; font-size: 18px;"></i>

        {{title}}
        
        <i class="fa fa-plus-circle open-income-form"(click)="openInputForm('Ingreso')" style="font-size: 36px;"></i>
        <i class="fa fa-minus-circle open-expense-form"(click)="openInputForm('Gasto')" style="font-size: 36px;"></i>
      </div>
    </div>
  </div>
</div>
<br>
<app-accounting-graphs *ngIf="this.selectedPage ==='accountingGraphs'" [activityListUncut]="this.activityListUncut"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut"></app-accounting-graphs>
<app-accounting-activity-table *ngIf="this.selectedPage ==='accountingTable'" [activityListUncut]="this.activityListUncut"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut"></app-accounting-activity-table>
<app-accounting-monthly-summary *ngIf="this.selectedPage ==='accountingMonthlySummary'" [activityListUncut]="this.activityListUncut"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut"></app-accounting-monthly-summary>
<app-accounting-annual-summary *ngIf="this.selectedPage ==='accountingAnnualSummary'" [activityListUncut]="this.activityListUncut"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut"></app-accounting-annual-summary>

