<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Balance actual: {{ balance | number:'1.2-2':'es' }} €</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <div style="display: block;">
            <canvas baseChart height="80"
              [datasets]="balanceChartData"
              [labels]="balanceChartLabels"
              [options]="balanceChartOptions"
              [colors]="balanceChartColors"
              [legend]="showLabels"
              [chartType]="balanceChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="row">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Ingresos: {{ totalCategoryIncome | number:'1.2-2':'es' }} €</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div style="display: block;">
              <canvas baseChart
                [data]="categoryIncomeChartData"
                [labels]="categoryIncomeChartLabels"
                [options]="pieChartOptions"
                [chartType]="pieChartType"
                [legend]="showLabels"
                (chartClick)="incomeChartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="conceptIncomeChartTitle">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Ingresos -> "{{conceptIncomeChartTitle}}": {{ totalConceptIncome | number:'1.2-2':'es' }} €</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div style="display: block;">
              <canvas baseChart
                [data]="conceptIncomeChartData"
                [labels]="conceptIncomeChartLabels"
                [options]="pieChartOptions"
                [legend]="showLabels"
                [chartType]="pieChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="row">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Gastos: {{ totalCategoryExpense | number:'1.2-2':'es' }} €</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div style="display: block;">
              <canvas baseChart
                [data]="categoryExpenseChartData"
                [labels]="categoryExpenseChartLabels"
                [options]="pieChartOptions"
                [chartType]="pieChartType"
                [legend]="showLabels"
                (chartClick)="expenseChartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="conceptExpenseChartTitle">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Gastos -> "{{conceptExpenseChartTitle}}": {{ totalConceptExpense | number:'1.2-2':'es' }} €</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div style="display: block;">
              <canvas baseChart
                [data]="conceptExpenseChartData"
                [labels]="conceptExpenseChartLabels"
                [options]="pieChartOptions"
                [legend]="showLabels"
                [chartType]="pieChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
