<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="categoryConsultsService.selectedCategory.$key">
      <input type="hidden" name="type" #type="ngModel" [(ngModel)]="categoryConsultsService.selectedCategory.type">
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="category" #category="ngModel"  autocomplete="off"
            [(ngModel)]="categoryConsultsService.selectedCategory.category" placeholder="Categoría" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(categoryForm)">Limpiar</button-->
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!categoryForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>