<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #accountingFilterForm="ngForm" (ngSubmit)="onSubmit(accountingFilterForm)">
      <div class = "row">
        <div class="form-group col-sm-12">
          <mat-form-field>
            <mat-label>vehicle</mat-label>
            <mat-select class="form-control" name="vehicle" #month="ngModel" autocomplete="off"
            [(ngModel)]="filterService.selectedFilter.vehicle" placeholder="vehicle">
              <mat-option></mat-option>
              <mat-option *ngFor= "let vehicle of vehiclesList" [value]="vehicle.$key">{{ vehicle.brand }} {{ vehicle.model }} "{{ vehicle.plate }}"</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-12" style="text-align:center;">
          <button mat-stroked-button color="warn" type="button" (click)="resetForm(accountingFilterForm)" style="float: left;">Limpiar</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="!accountingFilterForm.valid" style="float: right;">Aplicar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>