<div>
    <!--h1>Formulario</h1-->
    <mat-dialog-content class="app-dialog-content">
      <form #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="activityConsultsService.selectedActivity.$key">
        <input type="hidden" name="type" #type="ngModel" [(ngModel)]="activityConsultsService.selectedActivity.type">
        <div class = "row">
          <div class="form-group col-sm-6">
            <mat-form-field>
              <mat-label>Categoría</mat-label>
              <mat-select class="form-control" name="categoryKey" #category="ngModel" [(ngModel)]="activityConsultsService.selectedActivity.categoryKey" 
              (ngModelChange)="getConcepts(activityConsultsService.selectedActivity.categoryKey)" placeholder="Categoría" autocomplete="off" required>
                <mat-option></mat-option>
                <mat-option *ngFor= "let category of categoriesList" [value]="category.$key">{{ category.category }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-sm-6">
            <mat-form-field>
              <mat-label>Concepto</mat-label>
              <mat-select class="form-control" name="conceptKey" #concept="ngModel" [(ngModel)]="activityConsultsService.selectedActivity.conceptKey" 
              (ngModelChange)="emptyVehicle()" placeholder="Concepto" required>
                <mat-option></mat-option>
                <mat-option *ngFor= "let concept of conceptsList" [value]="concept.$key">{{ concept.concept }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class = "row" [hidden]="!(activityConsultsService.selectedActivity.categoryKey == '-LeGNyxdt4u3KcMotxZ1')">
          <div class="form-group col-sm-6">
            <mat-form-field>
              <mat-label>Vivienda</mat-label>
              <mat-select class="form-control" name="house" #home="ngModel" 
              [(ngModel)]="activityConsultsService.selectedActivity.house" placeholder="Vivienda" autocomplete="off" 
              [required]="activityConsultsService.selectedActivity.categoryKey == '-LeGNyxdt4u3KcMotxZ1'">
                <mat-option></mat-option>
                <mat-option *ngFor= "let house of housesList" [value]="house.$key">{{ house.street }}, {{ house.number }}, {{ house.floor }} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class = "row" [hidden]="!(activityConsultsService.selectedActivity.categoryKey == '-LeGOMpUADdgFF53PJLc')">
          <div class="form-group col-sm-6">
            <mat-form-field style="width:100%">
              <mat-label>Vehículo</mat-label>
              <mat-select class="form-control" name="vehicle" #vehicle="ngModel" 
              [(ngModel)]="activityConsultsService.selectedActivity.vehicle" placeholder="Vehículo" autocomplete="off" 
              [required]="activityConsultsService.selectedActivity.categoryKey == '-LeGOMpUADdgFF53PJLc'">
                <mat-option></mat-option>
                <mat-option *ngFor= "let vehicle of vehiclesList" [value]="vehicle.$key">{{ vehicle.brand }} {{ vehicle.model }}, "{{ vehicle.plate }}" </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class = "row" [hidden]="!(activityConsultsService.selectedActivity.conceptKey == '-LeGQjCyoJAFgDnepuYo')">
          <div class="form-group col-sm-6">
            <mat-form-field>
              <input matInput class="form-control" name="litres" #litres="ngModel" type="number" step="0.01"
              [(ngModel)]="activityConsultsService.selectedActivity.litres" placeholder="Litros" autocomplete="off"
              [required]="activityConsultsService.selectedActivity.conceptKey == '-LeGQjCyoJAFgDnepuYo'">
            </mat-form-field>
          </div>
          <div class="form-group col-sm-6">
            <mat-form-field>
              <input matInput class="form-control" name="milometer" #milometer="ngModel" type="number" step="1"
              [(ngModel)]="activityConsultsService.selectedActivity.milometer" placeholder="Cuentakilometros" autocomplete="off"
              [required]="activityConsultsService.selectedActivity.conceptKey == '-LeGQjCyoJAFgDnepuYo'">
            </mat-form-field>
          </div>
        </div>
        <div class = "row">
          <div class="form-group col-sm-6">
            <mat-form-field>
              <input matInput class="form-control" name="value" #value="ngModel" type="number" step="0.01"
              [(ngModel)]="activityConsultsService.selectedActivity.value" placeholder="Valor" autocomplete="off" required>
              <mat-datepicker-toggle matSuffix >
                <mat-icon matDatepickerToggleIcon>euro_symbol</mat-icon>
              </mat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div class="form-group col-sm-6">
            <mat-form-field>
              <input matInput class="form-control" name="date" #date="ngModel" [matDatepicker]="date"
              [(ngModel)]="activityConsultsService.selectedActivity.date" placeholder="Fecha" autocomplete="off" required>
              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date [dateClass]="dateClass()"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class = "row">    
          <div class="form-group col-sm-12">
            <mat-form-field>
              <input matInput class="form-control" name="remark" #remark="ngModel"
              [(ngModel)]="activityConsultsService.selectedActivity.remark" placeholder="Observación" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <div class = "row">    
          <div class="form-group col-sm-12">
            <button mat-stroked-button color="warn" type="button" (click)="resetForm(activityForm)" style="float: left;">Limpiar</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="!activityForm.valid" style="float: right;">Guardar</button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </div>