<div>
    <!--h1>Formulario</h1-->
    <mat-dialog-content class="app-dialog-content">
      <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="houseConsultsService.selectedHouse.$key">
        <div class = "row">
          <div class="form-group col-12">
            <mat-form-field>
              <input matInput class="form-control" name="street" #street="ngModel" autocomplete="off"
              [(ngModel)]="houseConsultsService.selectedHouse.street" placeholder="Calle" required>
            </mat-form-field>
          </div>
        </div>
        <div class = "row">
          <div class="form-group col-12">
            <mat-form-field>
              <input matInput class="form-control" name="number" #number="ngModel" autocomplete="off"
              [(ngModel)]="houseConsultsService.selectedHouse.number" placeholder="Portal" required>
            </mat-form-field>
          </div>
        </div>
        <div class = "row">
          <div class="form-group col-12">
            <mat-form-field>
              <input matInput class="form-control" name="floor" #floor="ngModel" autocomplete="off"
              [(ngModel)]="houseConsultsService.selectedHouse.floor" placeholder="Piso" required>
            </mat-form-field>
          </div>
        </div>
        <div class = "row">    
          <div class="form-group col-sm-6" style="text-align: left">
            <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(houseForm)">Limpiar</button-->
          </div>
          <div class="form-group col-sm-6" style="text-align: right">
            <button mat-flat-button color="primary" type="submit" [disabled]="!houseForm.valid">Guardar</button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </div>