
    <div class="row justify-content-sm-center vertical-center">
        <div class="col-md-6 horizontal-center">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">LogIn</h6>
                </div>
                <div class="card-body">
                    <form (submit)=onSubmitLogin()>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="Ingresar email">                         
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" [(ngModel)]="password" id="password" name="password" placeholder="Ingresar password">                         
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>
                </div>
                <div class="card-body">
                    <button type="button" (click)= "loginGoogle()" class="btn btn-primary btn-block">Entrar Google</button>
                </div>
                <div class="text-center">
                    <a class="small" routerLink="/register">Create an Account!</a>
                </div>
                <br>
            </div>
        </div>
    </div>


