<div class="app-content-container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <i class="fa fa-filter open-filter-form"(click)="openFiltersForm()" style="font-size: 36px;"></i>

        {{title}}
        
        <i class="fa fa-minus-circle open-expense-form-marginless"(click)="openInputForm('Gasto')" style="font-size: 36px;"></i>
      </div>
    </div>
  </div>
</div>
<br>
<app-vehicle-graphs *ngIf="this.selectedPage ==='vehicleGraphs'" [activityListUncut]="this.activityListUncut" [activityList]="this.activityList"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut" [vehiclesListUncut]="this.vehiclesListUncut"></app-vehicle-graphs>
<app-vehicle-gas *ngIf="this.selectedPage ==='vehicleGas'" [activityListUncut]="this.activityListUncut" [activityList]="this.activityList"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut" [vehiclesListUncut]="this.vehiclesListUncut"></app-vehicle-gas>
<app-vehicle-maintenance *ngIf="this.selectedPage ==='vehicleMaintenance'" [activityListUncut]="this.activityListUncut" [activityList]="this.activityList"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut" [vehiclesListUncut]="this.vehiclesListUncut"></app-vehicle-maintenance>
<app-vehicle-financing *ngIf="this.selectedPage ==='vehicleFinancing'" [activityListUncut]="this.activityListUncut" [activityList]="this.activityList"
[categoriesListUncut]="this.categoriesListUncut" [conceptsListUncut]="this.conceptsListUncut" [vehiclesListUncut]="this.vehiclesListUncut"></app-vehicle-financing>


