.Bueno td {
    color: black; 
    a i{
        color: green;
    }
}

.Problemas td {
    color: black;
    a i{
        color: orange;
    }
}

.Cambiar td {
    color: black;
    a i{
        color: red;
    }
}
td{
    color: darkgrey;
    a i{
        color: darkgrey;
    }
}

