<div class="app-content-container">
  <div class="row cutTable" *ngIf="cutTable">
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
    Mostrados los ultimos 100 registros. La busqueda contiene {{ tableLenght }} registros
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
  </div>
  <div class="row">
    <div class="col-auto center table-responsive">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact nowrap table">
        <thead>
          <tr>
            <th style="width: 5%"> Elemento</th>
            <th style="width: 5%"> Localización </th>
            <th style="width: 5%"> Tipo elemento </th>
            <th style="width: 5%"> Lugar adquisición</th>
            <th style="width: 15%"> Modelo</th>
            <th style="width: 5%"> Identificador </th>
            <th style="width: 5%"> Valor <!--adquisición--> </th>
            <th style="width: 5%"> Fecha <!--adquisición--> </th>
            <th style="width: 5%" hidden> Valor desecho</th>
            <th style="width: 5%" hidden> Fecha desecho</th>
            <th style="width: 5%"> Estado </th>
            <th style="width: 30%"> Observaciones </th>
            <th style="width: 5%; min-width: 70px;"> Edición </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let item of itemListTable" [ngClass]="item.state">
            <td> {{ item.item }} </td>
            <td> {{ item.locationName }} </td>
            <td> {{ item.itemTypeName }} </td>
            <td> {{ item.acquisitionPlace }} </td>
            <td> {{ item.model }} </td>
            <td> {{ item.identifier }} </td>
            <td> {{ item.acquisitionValue | currency:'EUR':symbol:'1.2-2':'es' }} </td>
            <td> {{ item.acquisitionDate | date:'dd/MM/yyyy'}} </td>
            <td hidden> {{ item.lossValue | currency:'EUR':symbol:'1.2-2':'es' }} </td>
            <td hidden> {{ item.lossDate | date:'dd/MM/yyyy'}} </td>
            <td> {{ item.state }} </td>
            <td> {{ item.remark }} </td>
            <td>
              <a class= "table-btn" (click)="copyItem(item)"><i class="fa fa-copy"></i></a>
              <a class= "table-btn" (click)="editItem(item)"><i class="fa fa-edit"></i></a>
              <a class= "table-btn" (click)="deleteItem(item.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
