<div class="app-content-container">
  <div class="row">
    <div class="col-auto center table-responsive">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="cell-border display compact nowrap table">
        <thead>
          <tr>
            <th style="width: 16%">Grupo</th>
            <th *ngFor= "let column of table_columns"> {{ column }} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let row of table_data" [ngClass]="row.type">
            <td style="font-weight: bold;"> {{ row.Grupo }}</td>
            <td *ngFor= "let column of table_columns" [ngClass]="'Column_'+column"> {{ row[column] | currency:'EUR':symbol:'1.2-2':'es' }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>