<div class="app-content-container">
  <div class="row">
    <div class="col-auto center">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact nowrap dataTable no-footer dtr-inline collapsed table">
        <thead>
          <tr>
            <th> Fecha </th>
            <th> Continente </th>
            <th> País </th>
            <th> Lugar </th>
            <th> Latitud </th>
            <th> Longitud </th>
            <th> Observación </th>
            <th> Edición </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let trip of tripsListTable">
            <td> {{ trip.date | date:'dd/MM/yyyy'}} </td>
            <td> {{ trip.continent }} </td>
            <td> {{ trip.countryName }} </td>
            <td> {{ trip.place  }} </td>
            <td> {{ trip.latitude }} </td>
            <td> {{ trip.longitude }} </td>
            <td> {{ trip.remark }} </td>
            <td>
              <a class= "table-btn" (click)="editTrip(trip)"><i class="fa fa-edit"></i></a>
              <a class= "table-btn" (click)="deleteTrip(trip.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>