<div class="app-content-container">
  <div class="row cutTable" *ngIf="cutTable">
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
    Mostrados los ultimos 100 registros. La busqueda contiene {{ tableLenght }} registros
    <i class="fa fa-warning"></i> <i class="fa fa-warning"></i>
  </div>
  <div class="row">
    <div class="col-auto center table-responsive">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display cell-border compact nowrap table">
        <thead>
          <tr>
            <th> Fecha </th>
            <th> Vehiculo </th>
            <th> CuentaKilometros </th>
            <th> Litros</th>
            <th> Importe</th>
            <th> Km desde repostaje</th>
            <th> Km/L</th>
            <th> L/100km</th>
            <th> €/km</th>
            <th> €/L</th>
            <th> Observaciones </th>
            <th style="min-width: 70px"> Edición </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let activity of activityListTable">
            <td> {{ activity.date | date:'dd/MM/yyyy' }} </td>
            <td> {{ activity.vehicleName }} </td>
            <td> {{ activity.milometer | number:'1.0-0':'es' }} km </td>
            <td> {{ activity.litres | number:'1.2-2':'es' }} l</td>
            <td> {{ activity.value | currency:'EUR':symbol:'1.2-2':'es' }} </td>
            <td> {{ activity.coveredMilometer | number:'1.0-0':'es' }} km </td>
            <td> {{ activity.coveredMilometer / activity.litres | number:'1.2-2':'es' }} km/l </td>
            <td> {{ activity.litres / (activity.coveredMilometer / 100) | number:'1.2-2':'es' }} l/100km </td>
            <td> {{ activity.value / activity.coveredMilometer | number:'1.2-2':'es' }} €/km </td>
            <td> {{ activity.value / activity.litres | number:'1.3-3':'es' }} €/l</td>
            <td> {{ activity.remark }} </td>
            <td>
              <a class= "table-btn" (click)="copyActivity(activity)"><i class="fa fa-copy"></i></a>
              <a class= "table-btn" (click)="editActivity(activity)"><i class="fa fa-edit"></i></a>
              <a class= "table-btn" (click)="deleteActivity(activity.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
