<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #elementTypeForm="ngForm" (ngSubmit)="onSubmit(elementTypeForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="elementTypeConsultsService.selectedElementType.$key">
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="elementType" #elementType="ngModel" autocomplete="off"
            [(ngModel)]="elementTypeConsultsService.selectedElementType.elementType" placeholder="Tipo de elemento" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(elementTypeForm)">Limpiar</button-->
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!elementTypeForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>