<div class="app-content-container">
  <div class="row">
    <div class="col-auto center table-responsive">
      <div class="loading">
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
        
        <div class="loader">
          <svg viewBox="0 0 80 80">
          </svg>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display cell-border compact nowrap table">
        <thead>
          <tr>
            <th style="width: 30%;"> Tipo </th>
            <th style="width: 50%;"> Categoría </th>
            <th style="width: 20%; min-width: 70px;"> Edición </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let category of categoriesList" [ngClass]="category.type">
            <td> {{ category.type }} </td>
            <td> {{ category.category }} </td>
            <td>
              <a class= "table-btn" (click)="editCategory(category)"><i class="fa fa-edit" ></i></a>
              <a class= "table-btn" (click)="deleteCategory(category.$key)"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
