<div class="app-content-container">
    <div class="row">
      <div class="col-auto center">
        <div class="loading">
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
          
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
          
          <div class="loader">
            <svg viewBox="0 0 80 80">
            </svg>
          </div>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact nowrap dataTable no-footer dtr-inline collapsed table">
          <thead>
            <tr>
              <th style="width: 25%;"> Calle </th>
              <th style="width: 25%;"> Portal </th>
              <th style="width: 25%;"> Piso </th>
              <th style="width: 25%; min-width: 70px;"> Edición </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let house of housesList">
              <td> {{ house.street }} </td>
              <td> {{ house.number }} </td>
              <td> {{ house.floor }} </td>
              <td>
                <a class= "table-btn" (click)="editHouse(house)"><i class="fa fa-edit"></i></a>
                <a class= "table-btn" (click)="deleteHouse(house.$key)"><i class="fa fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  