<div>
  <!--h1>Formulario</h1-->
  <mat-dialog-content class="app-dialog-content">
    <form #conceptForm="ngForm" (ngSubmit)="onSubmit(conceptForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="conceptConsultsService.selectedConcept.$key">
      <input type="hidden" name="type" #type="ngModel" [(ngModel)]="conceptConsultsService.selectedConcept.type">
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select class="form-control" name="category" #location="ngModel" 
            [(ngModel)]="conceptConsultsService.selectedConcept.category" placeholder="Categoría" autocomplete="off" required>
              <mat-option></mat-option>
              <mat-option *ngFor= "let category of categoriesList" [value]="category.$key">{{ category.category }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="form-group col-12">
          <mat-form-field>
            <input matInput class="form-control" name="concept" #concept="ngModel" autocomplete="off"
            [(ngModel)]="conceptConsultsService.selectedConcept.concept" placeholder="Concepto" required>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">    
        <div class="form-group col-sm-6" style="text-align: left">
          <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(conceptForm)">Limpiar</button-->
        </div>
        <div class="form-group col-sm-6" style="text-align: right">
          <button mat-flat-button color="primary" type="submit" [disabled]="!conceptForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>