<div>
    <!--h1>Formulario</h1-->
    <mat-dialog-content class="app-dialog-content">
      <form #locationForm="ngForm" (ngSubmit)="onSubmit(locationForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="locationConsultsService.selectedLocation.$key">
        <div class = "row">
          <div class="form-group col-12">
            <mat-form-field>
              <input matInput class="form-control" name="location" #location="ngModel" autocomplete="off"
              [(ngModel)]="locationConsultsService.selectedLocation.location" placeholder="Localización" required>
            </mat-form-field>
          </div>
        </div>
        <div class = "row">    
          <div class="form-group col-sm-6" style="text-align: left">
            <!--button mat-stroked-button color="warn" type="button" (click)="resetForm(locationForm)">Limpiar</button-->
          </div>
          <div class="form-group col-sm-6" style="text-align: right">
            <button mat-flat-button color="primary" type="submit" [disabled]="!locationForm.valid">Guardar</button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </div>