/* You can add global styles to this file, and also import other style files */
html{
    font-size: unset!important;
}
body{
    margin: auto;
    //height: unset!important;
}

.row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.mat-drawer-container{
    background-color: unset!important;
}
table.dataTable.compact tbody td {
    //padding: 0px 8px!important;
    padding: 0px 8px;
}

.Ingreso{
    mat-dialog-container{
        border-left-style: solid;
        border-width: 10px;
        border-color: rgb(100, 226, 50);
    }
}
.Gasto{
    mat-dialog-container{
        border-left-style: solid;
        border-width: 10px;
        border-color: rgb(255, 62, 62);
    }
}
.Undefined{
    mat-dialog-container{
        border-left-style: solid;
        border-width: 10px;
        border-color: rgb(255, 165, 0);
    }
}
//Buenos
.form-control{
    box-shadow: unset!important;
    border: none;
}
mat-form-field{
    width: 100%;
}
.table-responsive{
    display: block;
}
.dataTables_wrapper {
    display: inline-block;
    max-width: 100%;
}
.center {
    display: flex;
    justify-content: center;
}
.header{
    margin: 10px;
    text-align: center;
    height: 36px;
    font-size: 24px;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}
.open-income-form{
    float: right;
    margin-right: 0px;
    color: rgb(100, 226, 50);
}
.open-expense-form{
    float: right;
    margin-right: 20px;
    color: rgb(255, 62, 62);
}
.open-expense-form-marginless{
    float: right;
    margin-right: 0px;
    color: rgb(255, 62, 62);
}
.open-undefined-form{
    float: right;
    //margin-right: 20px;
    color: orange;
}
.open-filter-form{
    float: left;
}

.app-dialog-content{
    padding: 0 10px; 
}
.form-group{
    padding-right: 5px;
    padding-left: 5px;
}
.cdk-overlay-pane{
    max-width: 90vw;
}
/*.Ingreso.even{
    background-color: rgba(0, 255, 0, 0.3)!important;
} 
.Ingreso.odd{
    background-color: rgba(0, 255, 0, 0.4)!important;
}
.Gasto.even{
    background-color: rgba(255, 0, 0, .3)!important;
} 
.Gasto.odd{
    background-color: rgba(255, 0, 0, .4)!important;
} */
.table-btn{
    padding: 0px 6px;
    color: black;
}


.app-sidenav-content{
    padding:  10px 20px;
}
.dataTables_scrollBody, .dataTables_scrollHead {
    border: 1px solid #ddd !important;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td{
    padding: 10px 18px;
    border: 1px solid #ddd !important;
}
table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px 20px 4px 4px;
}
.table-responsive {
    border: unset !important;
}

::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #faf9f9; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #ddd;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(225, 225, 225, 1); 
}

 /* table.dataTable.stripe tbody tr.Gasto, table.dataTable.display tbody tr.Gasto {
    background-color: rgba(255, 0, 0, 0.2)!important;
  }*/
table.display tr.odd.Ingreso { 
    background-color: rgba( 0, 255, 0, 0.1)!important; 
    [class^="sorting_"] { 
        background-color: rgba( 0, 255, 0, 0.1)!important; 
    }
}
table.display tr.even.Ingreso { 
    background-color: rgba( 0, 255, 0, 0.2)!important; 
    [class^="sorting_"] { 
        background-color: rgba( 0, 255, 0, 0.1)!important; 
    }
}
table.display tr.odd.Gasto { 
    background-color: rgba(255, 0, 0, 0.1)!important; 
    [class^="sorting_"] { 
        background-color: rgba(255, 0, 0, 0.1)!important; 
    }
}
table.display tr.even.Gasto { 
    background-color: rgba(255, 0, 0, 0.2)!important; 
    [class^="sorting_"] { 
        background-color: rgba(255, 0, 0, 0.1)!important; 
    }
}
table.display tr.Categoria { 
    background-color: rgba( 0, 0, 255, 0.1)!important; 
    [class^="sorting_"] { 
        background-color: rgba( 0, 0, 255, 0.1)!important; 
    }
}
table.display tr.Balance { 
    background-color: rgba(255, 165, 0, 0.1)!important; 
    [class^="sorting_"] { 
        background-color: rgba(255, 165, 0, 0.1)!important; 
    }
}

table.display tbody tr.Ingreso:nth-child(odd):hover td, table.display tbody tr.Ingreso:nth-child(even):hover td{
    background-color: rgba( 0, 255, 0, 0.2) !important;
}   
table.display tbody tr.Gasto:nth-child(odd):hover td, table.display tbody tr.Gasto:nth-child(even):hover td{
    background-color: rgba(255, 0, 0, 0.2) !important;
}   
table.display tbody tr.Categoria:nth-child(odd):hover td, table.display tbody tr.Categoria:nth-child(even):hover td{
    background-color: rgba( 0, 0, 255, 0.2) !important;
}   
table.display tbody tr.Balance:nth-child(odd):hover td, table.display tbody tr.Balance:nth-child(even):hover td{
    background-color: rgba(255, 165, 0, 0.2) !important;
}   

tr.Gasto + tr.child, tr.Gasto + tr.child:hover td {
    background-color: rgba(255, 0, 0, 0.1)!important; 
}
tr.Ingreso + tr.child, tr.Ingreso + tr.child:hover td {
    background-color: rgba( 0, 255, 0, 0.1)!important; 
}
tr.Categoria + tr.child, tr.Categoria + tr.child:hover td {
    background-color: rgba(0, 0, 255, 0.1)!important; 
}
tr.Balance + tr.child, tr.Balance + tr.child:hover td {
    background-color: rgba( 255, 165, 0, 0.1)!important; 
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
    top: calc(50% - 9px);
}
  
.dataTables_wrapper {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
    padding: unset !important;
  }
td {
    white-space: normal !important;
    word-wrap: break-word;
}

.mat-expansion-panel-body {
    padding: 0 10px 16px!important;
    background: #f8f8f8!important;
}
.mat-drawer-inner-container, .mat-expansion-panel-header {
    background: #f8f8f8!important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: unset!important; 
}

.loading {
    position: fixed;
    width: 100vh;
    top: 50vh;
    text-align: center;
}

.loader {
    --path: #2F3545;
    --dot: #5628EE;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
        left: 19px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
}


@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -36px);
    }
    100% {
        transform: translate(-18px, -18px);
    }
}


.loader {
    display: inline-block;
    margin: 0 16px;
}

.cutTable{
    color: #9F6000;
    background-color: #FEEFB3;
    font-weight: bold;
    text-align: center;
    .fa-warning{
          padding: 0 2px;  
    }
}

td.Column_Total{
    font-weight: bold;
}
td.Column_Media{
    font-weight: bold;
    text-decoration: underline;
}
td a .fa-copy{
    color: green;
}
td a .fa-edit{
    color: orange;
}
td a .fa-trash-alt{
    color: red;
}
app-trips-map{
    min-height: 70vh;
}
.jvectormap-container, .map-container, .map{
    width: 100%;
    height: 100%;
    max-height: 47vw;
    //max-width: 208.8vh;
}
.map-container{
    background-color: #589bd7;
}
/*.map{
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    //border: 1px solid #e3e6f0;
    border-radius: .35rem;

    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.shadow {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.pb-2, .py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.h-100 {
    height: 100%!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.text-primary {
    color: #4e73df!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
.text-gray-800 {
    color: #5a5c69!important;
}
.mb-0, .my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6{
    font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}
.text-gray-300 {
    color: #dddfeb!important;
}
.card-body .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.text-xs {
    font-size: .7rem;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}

.progress-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #eaecf4;
    border-radius: .35rem;
}
.progress-sm-custom {
    height: .5rem;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.m-0 {
    margin: 0!important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
.jvectormap-label,
.jvectormap-pin {
    pointer-events: none
}
.jvectormap-label {
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: #fff;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000;
    padding: 3px;
    color: #fff;
    min-width: 10px;
    min-height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center
}

.jvectormap-zoomin {
    top: 10px
}

.jvectormap-zoomout {
    top: 30px
}

.jvectormap-region {
    cursor: pointer
}

.jvectormap-ajax_response {
    width: 100%;
    height: 500px
}
.jvectormap-tip {
    z-index: 999;
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: #fff;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px
}
.text-red {
    color: red!important;
}
.border-left-red {
    border-left: .25rem solid red!important;
}
.bg-red {
    color: #fff;
    background-color: red;
}
.text-orange {
    color: orange!important;
}
.border-left-orange {
    border-left: .25rem solid orange!important;
}
.bg-orange {
    color: #fff;
    background-color: orange;
}
.text-green {
    color: green!important;
}
.border-left-green {
    border-left: .25rem solid green!important;
}
.bg-green {
    color: #fff;
    background-color: green;
}
.text-blue {
    color: blue!important;
}
.border-left-blue {
    border-left: .25rem solid blue!important;
}
.bg-blue {
    color: #fff;
    background-color: blue;
}
.weekend .mat-calendar-body-cell-content {
    color: red;
}
[aria-label=Saturday], [aria-label=Sunday] {
    color: rgba(255, 0, 0, .5);
}
.mat-list-item-content i, .mat-expansion-panel-header-title i{
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    width: 24px;
    margin: 3px 0px;
}
i.fas.fa-lg {
    padding-right: 10px;
}
.vertical-center{
    margin-top: 10vh;
}
.horizontal-center{
    margin: 0 auto;
    float: none;
}